html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: "badaboom_bbregular", Arial, Helvetica, sans-serif;
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #ffcccc; */
    /* border-bottom: 5px solid red; */
}

main {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 0 0 2rem;
}

h1 {
    color: #af1c2d;
}

h2 {
    color: #af1c2d;
}

h3 {
    color: #770b17;
}

p {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
    letter-spacing: 0.1rem;
    color: #890d1a;
    margin: 0 0 2rem;
    line-height: 1.5rem;
}


/* navigation menu */
.nav ul,
ul.nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 3rem;
}

.nav li,
ul.nav li {
    padding: 0 20px;
}

.nav a,
ul.nav a {
    text-decoration: none;
    color: red;
}

.nav a:hover {
  color: #af1c2d;
}

.nav a .current-page-item {
    color: #af1c2d;
}

/* page content */
.page-content {
    margin: 2rem 0;
    padding-left: 4.375rem;
}

.page-content__title {
    display: none;
    text-align: center;
    color: orange;
    margin: 0 0 2rem;
}

.page-content__columns {
    display: flex;
    padding: 20px;
}

.page-content__columns--left,
.page-content__columns--right {
    width: 50%;
    max-width: 50%;
}

.page-content__columns--left {
    padding-left: 30px;
}

.page-content_columns--right {
    color: #890d1a;
    font-size: 25px;
}

.page-content__row img,
.page-content__columns--left img,
.page-content__columns--right img {
    max-width: 100%;
    height: auto;
}






/* page specific styles */
.page-home {
    padding-top: 2rem;
    text-align: center;
}

.page-payment .page-content__columns--right {
    text-align: center;
}

.page-about {
    height: 100%;
    background-image: url('img/about-page-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 80px;
}

.page-session {
    height: 100%;
    background-image: url('img/............png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}


.page-about-content .page-session-content {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 100px;
}

.page-session-content {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 100px;
}

.insta-images {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.insta-images .hero-img {
	margin-bottom: 10px;
	margin-top: 15px;
}

.insta-images .grid-images {
	width: 1020px;
	display: flex;
	flex-wrap: wrap;
}

.insta-images .thumbnail {
	margin: 10px;
	width: 320px;
	height: 320px;
}

.insta-images button {
    color: #890d1a;
    font-size: 2rem;
    border: 5px solid orange;
    border-radius: 10px;
    font-family: "badaboom_bbregular", Arial, Helvetica, sans-serif;
    background-color: #fff;
    letter-spacing: 0.1rem;
}
