html {
    font-size: 16px;
    height: 100%;
}

body {
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #ffcccc; */
    /* border-bottom: 5px solid red; */
}

main {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
nav ul,
ul.nav,
div.paypal,
button {
    font-family: "badaboom_bbregular", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 0 0 2rem;
}

h1 {
    color: #af1c2d;
}

h2 {
    color: #af1c2d;
}

h3 {
    color: #770b17;
}

div.paypal,
p {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
    letter-spacing: 0.1rem;
    color: #890d1a;
    margin: 0 0 2rem;
    line-height: 1.5rem;
}

div.paypal {
    text-align: center;
    color: #770b17;
}


/* navigation menu */
.nav ul,
ul.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 2rem;
}

.nav li,
ul.nav li {
    padding: 0 20px;
    margin-top: 20px;
}

.nav a,
ul.nav a {
    text-decoration: none;
    color: red;
}

.nav a:hover {
  color: #af1c2d;
}

.nav a .current-page-item {
    color: #af1c2d;
}


/* TRYING TO MAKE MOBILE IMAGE SMALL */

.page-home {
    background-image: url("home-mobile-edit.png") cover;
    height: auto;
    width: 100%;
}

/* ABOVE DID NOT WORK */

@media (min-width: 1020px) {
    .nav ul,
    ul.nav {
        flex-direction: row;
        font-size: 3rem;
    }
}

/* page content */
.page-content {
    margin: 2rem auto;
    max-width: 1020px;
    height: 100%;
    padding: 2rem 1rem 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.page-content__title {
    display: none;
    color: orange;
    max-width: 640px;
    margin: 0 auto 2rem;
}

.page-content__single {
    max-width: 640px;
    margin: auto;
}

.page-content__single img {
    max-width: 100%;
    height: auto;
}

.page-content__columns {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


@media (min-width: 1020px) {
    .page-content__columns {
        flex-direction: row;
    }

    .page-content__columns--left,
    .page-content__columns--right {
        width: 50%;
        max-width: 50%;
    }
}



/* page specific styles */
.page-home {
    padding-top: 2rem;
    text-align: center;
}


/* page backgrounds for desktop */
@media (min-width: 1020px) {
    .page-payment {
        /* background-image: url('img/payment-page-background-3.png'); */
    }
    .page-about {
        background-image: url('img/about-page-background-7.png');
    }
    .page-session {
        background-image: url('img/session-page-background-1.png');
    }
    .page-contact {
        background-image: url('img/contact-page-background-2.png');
    }

}


/* instagram thing */
.insta-images {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.insta-images .hero-img {
	margin-bottom: 10px;
	margin-top: 15px;
}

.insta-images .grid-images {
	max-width: 1020px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insta-images .thumbnail {
	margin: 10px;
	width: 320px;
	height: 320px;
}

.insta-images button {
    color: #890d1a;
    font-size: 2rem;
    border: 5px solid orange;
    border-radius: 10px;
    background-color: #fff;
}
