html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: "badaboom_bbregular", Arial, Helvetica, sans-serif;
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #ffcccc; */
    border-bottom: 5px solid red;
}

main {
    width: 1000px;
    height: 100%;
    margin: auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 { 
    font-size: 2rem; 
    letter-spacing: 0.1rem;
    margin: 0 0 0.5rem;
}

h2 { 
    color: orange; 
}

h3 { 
    color: green; 
}

p {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
    letter-spacing: 0.1rem;
}


/* navigation menu */
.nav ul {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 3rem;
}

.nav li {
    padding: 0 20px;
}

.nav a {
    text-decoration: none;
    color: red;
}


/* page content */
.page-content {
    margin: 2rem 0;
}

.page-content__title {
    display: none;
    text-align: center;
    color: orange;
    margin: 0 0 2rem;
}

.page-content__columns {
    display: flex;
}

.page-content__columns--left,
.page-content__columns--right {
    width: 50%;
    max-width: 50%;
}

.page-content__row img,
.page-content__columns--left img,
.page-content__columns--right img {
    max-width: 100%;
    height: auto;
}






/* page specific styles */
.page-home {
    height: 100%;
    background-image: url('img/home-img-edit.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.page-payment .page-content__columns--right {
    text-align: center;
}



.insta-images {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.insta-images .hero-img {
	margin-bottom: 10px;
	margin-top: 15px;
}

.insta-images .grid-images {
	width: 1020px;
	display: flex;
	flex-wrap: wrap;
}

.insta-images .thumbnail {
	margin: 10px;
	width: 320px;
	height: 320px;
}

.insta-images button {
    color: orange;
    font-size: 2rem;
    border: 5px solid orange;
    border-radius: 10px;
    font-family: "badaboom_bbregular", Arial, Helvetica, sans-serif;
    background-color: #fff;
    letter-spacing: 0.1rem;
}
